<!-- <link rel="stylesheet" href="" -->

<nav>
    <% if (user) { %>
    <div class="navbar">
        <h1 id="nav-header">WeGlobal</h1>
        <div class="nav-links">
            <a class="authlink" href="users/<%= user._id %>/trips">Your Trips</a>
            <a class="authlink" href="/auth/sign-out">Sign Out</a>
        </div>
    </div>
   <% } else { %>
    <div class="navbar">
        <h1 id="nav-header">WeGlobal</h1>
        <div class="nav-links">
            <a class="authlink" href="/auth/sign-in">Sign In</a>
            <a class="authlink" href="/auth/sign-up">sign Up</a>
        </div>
    </div>
   <% } %>
</nav>