<nav class="navbar">
    <div class="nav-container">
        <h1 id="nav-header"><a href="/" style="color: inherit; text-decoration: none;">WeGlobal</a></h1>
        
        <div class="nav-links">
            <% if (user) { %>
                <a class="authlink" href="/users/<%= user._id %>/trips">YOUR TRIPS</a>
                <a class="authlink" href="/auth/sign-out">SIGN OUT</a>
            <% } else { %>
                <a class="authlink" href="/auth/sign-in">SIGN IN</a>
                <a class="authlink" href="/auth/sign-up">SIGN UP</a>
            <% } %>
        </div>
    </div>
</nav>