body {
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                      url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    /* Centering Logic */
    display: flex;
    flex-direction: column; /* Stack Navbar on top of Hero */
    height: 100vh;
}

.home-hero {
    flex-grow: 1; /* Takes up all remaining space below the navbar */
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
    text-align: center;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px
}

a {
    color:#fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    transition: 0.3s;
}

a:hover {
    background:#fff;
    color: #000
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 50px; /* This creates space between h1, form, and p */
}